* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    text-align: center;
}

p{
    margin: 10px;
}

.btn{
    margin-right: 20px;
    padding: 4px 12px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    color: whites;
}

.btn:hover{
    opacity: 0.5;
    cursor: pointer;
}

.btnIncrease{
    background-color: green;
}

.btnDecrease {
    background-color: red;
}












