* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 0.5;
}

body {
    text-align: center;
}

.div{
    height: 30px;
    border-radius: 6px;
}

.div-below{
    margin: 20px auto;
    width: 400px;
    background-color: rgb(176, 218, 255);
}

.div-above {
    width: 40px;
    background-color: green;
}

.btn{
    border: none;
    border-radius: 6px;
    background-color: blue;
    padding: 7px;
    color: white;
}

.btn:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* h1, 
.div,
.btn{
    opacity: 0.1;
}
 */

